@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.bgimg{
    width: 100%;
    height: 85vh;
    /* position: abs; */
    filter: brightness(0.7);
    
    /* filter: grayscale(0.4); */
}
.navbar{
    position: relative;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.1);
}
.logo2{
    /* font-family: 'Philosopher', sans-serif; */
    font-family: 'Kolker Brush', cursive;
    text-decoration: none;

    color : rgb(232, 70, 70, 0.7);
    margin-left: 45px;
    font-size: 47px;
}
.middle{
    /* background: blue; */
    width: 400px;
    margin-right: -40px;
    display: flex;
    justify-content: space-around;
}
.middle2{
    font-family: 'Philosopher', sans-serif;
    text-decoration: none;
    color : rgb(232, 70, 70, 0.7);
    font-size: 17px;
    font-weight: bolder;
    cursor:pointer;
    /* padding: 5px; */
    transition: .2s;
}
.middle2:hover{
   color: gray;
   /* transform: scale(1.2); */
}


.right{
    /* background: purple; */
    margin-right: 70px;
    width: 180px;
    display: flex;
    justify-content: space-around;
}
.right2{
    font-family: 'Philosopher', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 14px;
    border: 0px solid black;
    padding: 8px;
    background: rgba(220, 79, 79, 0.7);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 5px;
    transition: .2s;
}
.right2:hover{
    transform: scale(1.1);
    background: rgba(158, 65, 65, 0.7);
    color: gray;
}
.crousl{
    position: absolute;
    top: 22%;
}
.rec.rec-arrow:disabled {
    visibility: hidden;
}
.rec.rec-arrow {
    /* visibility: hidden; */
    background: rgb(213, 203, 213);;
}
.mylogin{
    position: absolute;
}